* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 1;
}

textarea {
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  padding: 10px;
}

.jumbotron {
  text-align: center;
  background-color: transparent;
  color: black;
  border-radius: 0;
  border-bottom: 10px solid black;
}

.description {
  white-space: pre-wrap;
  height: 100%;
  width: 100%;
  padding-top: 10px;
}

.time-block {
  border-radius: 15px;
  width: 80%;
}

.row {
  height: 80px;
  border-top: 1px solid white;
  justify-content: space-between;
}

.hour {
  background-color: #ffffff;
  color: #000000;
  border-top: 1px dashed #000000;
  border-right: 1px solid black;
  text-align: right;
  width: 10%;
  padding-right: 10px;
  padding-top: 10px;
}

.past {
  background-color: #d3d3d3;
  color: rgb(124, 124, 124);
}

.present {
  background-color: #ff6961;
  color: white;
}

.future {
  background-color: #77dd77;
  color: white;
}

.saveBtn {
  border: none;
  background-color: #06aed5;
  color: white;
  height: 100%;
  width: 100px;
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all 0.3s ease-in-out;
}
